---
http_interactions:
- request:
    method: post
    uri: https://hcti.io/v1/template
    body:
      encoding: UTF-8
      string: '{"html":"<div>{{title}}</div>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic authentication-header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"template_id":"t-5a518f6d-fc53-4c6a-96a1-34ef5ff89916","template_version":1596828979123}'
  recorded_at: Fri, 07 Aug 2020 19:36:19 GMT
recorded_with: VCR 6.0.0
