---
http_interactions:
- request:
    method: post
    uri: https://hcti.io/v1/image?includeId=true
    body:
      encoding: UTF-8
      string: '{"url":"https://hcti.io","viewport_width":800,"viewport_height":1200,"ms_delay":500}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic authentication-header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Is-Overage:
      - 'False'
      X-Renders-Allowed:
      - '500000'
      X-Renders-Used:
      - '4541'
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://hcti.io/v1/image/62157984-dfc9-4ec9-956a-de8931749215","id":"62157984-dfc9-4ec9-956a-de8931749215"}'
  recorded_at: Fri, 07 Aug 2020 16:26:03 GMT
recorded_with: VCR 6.0.0
