---
http_interactions:
- request:
    method: post
    uri: https://hcti.io/v1/image?includeId=true
    body:
      encoding: UTF-8
      string: '{"html":"<div>test</div>","css":"body { background-color: orange }","ms_delay":500,"google_fonts":"Roboto"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic authentication-header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Is-Overage:
      - 'False'
      X-Renders-Allowed:
      - '500000'
      X-Renders-Used:
      - '4539'
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://hcti.io/v1/image/254b444c-dd82-4cc1-94ef-aa4b3a6870a6","id":"254b444c-dd82-4cc1-94ef-aa4b3a6870a6"}'
  recorded_at: Fri, 07 Aug 2020 16:26:02 GMT
recorded_with: VCR 6.0.0
