---
http_interactions:
- request:
    method: post
    uri: https://hcti.io/v1/image?includeId=true
    body:
      encoding: UTF-8
      string: '{"html":"<div>test</div>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic authentication-header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Is-Overage:
      - 'False'
      X-Renders-Allowed:
      - '500000'
      X-Renders-Used:
      - '4539'
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://hcti.io/v1/image/b1021edd-0af3-4764-9a1c-6d9eae18985d","id":"b1021edd-0af3-4764-9a1c-6d9eae18985d"}'
  recorded_at: Fri, 07 Aug 2020 16:26:02 GMT
recorded_with: VCR 6.0.0
