---
http_interactions:
- request:
    method: get
    uri: https://hcti.io/v1/template
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic authentication-header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"css":".code-example {\n  background-color: white;\n  background-image:
        linear-gradient(0deg,rgba(225,228,232,0),rgba(225,228,232,0) 7px,#e1e4e8 ,rgba(225,228,232,0)
        8px),linear-gradient(90deg,rgba(225,228,232,0),rgba(225,228,232,0) 7px,#e1e4e8
        ,rgba(225,228,232,0) 8px);\n  background-position: center center;\n  background-size:
        45px 45px;\n  border: 1px solid #eeebee;\n  border-radius: 4px;\n  box-sizing:
        border-box;\n  height: 300px;\n  margin: 30px;\n  padding: 30px;\n  width:
        600px;\n  display: flex;\n  align-items: center; justify-content: center;
        flex-direction: column;\n  -webkit-box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.36);
        \nbox-shadow: 5px 5px 15px -1px rgba(0,0,0,0.36);\n}\n.hcti-container {\n  box-sizing:
        border-box;\n  padding: 5px;\n  display: flex;\n  align-items:center;\n}\nh1
        {\n  text-align: center;\n  font-size: 40px;  \n  margin-top: auto;\n}\n.logo-text
        {\n  margin-left: 6px;\n  font-size: 16px;\n}\n.w-border {\n  border: 1px
        dashed #2869e6;\n  padding: 5px;\n  justify-content: center;\n  text-align:
        center;\n  vertical-align: middle;\n  margin-top: auto;\n  margin-bottom:
        10px;\n}\nimg {\n  border: 1px solid #eeebee;\n  box-sizing: border-box;\n  height:
        auto;\n  margin: 0;\n  max-width: 100%;\n  padding: 0;\n  vertical-align:
        bottom;\n}\n:root {\n  --bg-angle: 10deg; \n}\nbody {\nfont-family: -apple-system,
        BlinkMacSystemFont, \"helvetica neue\", helvetica, Rubik, noto, \"segoe ui\",
        arial, sans-serif;\n      background: linear-gradient(var(--bg-angle),#f79533,#f37055,#ef4e7b,#a166ab,#5073b8,#1098ad,#07b39b,#6fba82);\n}","created_at":"2020-08-02T20:01:56.762+00:00","description":null,"device_scale":null,"google_fonts":"Rubik","html":"<div
        class=\"code-example\">\n  <h1>{{title}}</h1>\n  <div class=\"w-border\">\n    <div
        class=\"hcti-container\"><img width=\"45\" src=\"https://docs.htmlcsstoimage.com/assets/images/HCTI.png\"><span
        class=\"logo-text\">HTML/CSS to Image API</span>\n    </div>\n  </div>\n</div>\n<script>\n  //
        Randomly change background color direction.\n  var random = Math.floor(Math.random()
        * Math.floor(360))\n  var body = document.body;\n  body.style.setProperty(''--bg-angle'',
        random + ''deg'');\n</script>","id":"t-9f6526a7-aa2c-4fbb-8723-06eff1c60e89","max_wait_ms":null,"ms_delay":null,"name":null,"render_when_ready":null,"updated_at":"2020-08-02T20:01:56.763+00:00","version":1596398516763,"viewport_height":null,"viewport_width":null},{"css":".code-example
        {\n  background-color: white;\n  background-image: linear-gradient(0deg,rgba(225,228,232,0),rgba(225,228,232,0)
        7px,#e1e4e8 ,rgba(225,228,232,0) 8px),linear-gradient(90deg,rgba(225,228,232,0),rgba(225,228,232,0)
        7px,#e1e4e8 ,rgba(225,228,232,0) 8px);\n  background-position: center center;\n  background-size:
        45px 45px;\n  border: 1px solid #eeebee;\n  border-radius: 4px;\n  box-sizing:
        border-box;\n  height: 300px;\n  margin: 30[...]
